.Cart-container {
    width: 50em;
    min-height: 25em;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}


.Header {
    margin: auto;
    margin-top: 8px;
    width:90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
}

.img {
    margin-left: 2em;
}

.Action {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

.cart-item {
    margin-top: 20px;
    margin-left: 35px;
}

.hero-details.strong {
    position: fixed;
}

.hero-details {
    margin: auto;
    width:90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    border: 2px #dcd3d3 solid;
    width: 10rem;
    height: 50px;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    background: white;
    font-size: 20px;
}

.desc {
    margin-left: 40px;
    line-height: 10px;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 100;
    color: #909090;
}

.counter {
    border: 2px #dcd3d3 solid;
    margin-left: 27em;
    width: 10rem;
    height: 50px;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    background: white;
    font-size: 20px;
  }
  
input {
    margin-left: 5px;  
    border: 1px solid #6C757D;
} 
  
input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
  
.btn-1 {
    background-color: white;
    margin-top: -15px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 10px;
    font-weight: 700!important;
}
  
.btn-2{
    background-color: white;
    margin-top: -15px;
    margin-left: 5px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700!important;
}
  
.btn-1:hover {
    color: rgb(15, 15, 15);
}
  
.btn-2:hover {
    color: rgb(15, 15, 15);
}
  
.num {
    width: 35%;
    border: none;
    font-size: 15px;
    text-align: center;
}

.card {
    width: 50em;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 25px 40px #1687d933;
}

.shipping {
    padding: 5px;
    padding-bottom: 2rem;
    margin-left: 8px!important;
}

.pay {
    position: relative;
    
}

.btn.btn-primary.btn-sm {
    border-radius: 10px;
    border: 0;
    background-color: #ceacb3;
    color: black;
}

.btn.btn-primary.btn-sm:hover {
    color: white;
    background-color: #42545C;
}

.btn.btn-primary.btn-sm:active {
    background-color: black;
}

