.Cart-container {
    width: 50em;
    min-height: 25em;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.Header {
    margin: auto;
    margin-top: 8px;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    border-radius: 20px;
}

.pay {
    position: relative;
}

.btn.btn-primary.btn-sm {
    border-radius: 10px;
    border: 0;
    background-color: #ceacb3;
    color: black;
}

.btn.btn-primary.btn-sm:hover {
    color: white;
    background-color: #42545C;
}

.btn.btn-primary.btn-sm:active {
    background-color: black;
}

