h2 {
  margin-left: 10px;
}

/*Heroes button size*/
.heroes {
  margin: 0 0 5em 0;
  list-style-type: none;
  width: 15em;
}

/*Heroes selecting button display*/
.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover{
  left: .1em;
}
  
.heroes a{
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: 0 0;
  height: 3em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}
  
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0;
  height: -1;
  background-color: #405061;
  line-height: .5em;
  position: relative;
  min-width: 16px;
  text-align: right;
  margin: 0!important;
  border-radius: 4px 0 0 4px;
  padding-bottom: 25px!important;

}

/*Heros button name side position*/
.heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 15px;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}
  
/*Heroes button name color when cursor touch*/
.heroes button:hover {
  color: #1081b9;
  background-color: #e6e6e6;
  left: .1em; /*Heroes selecting box motion*/
}
  
/*Selecting without click motion color*/
.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}
  
/*After selected fixed motion color*/
.heroes button.selected {
  background-color: black;
  color: white;
}
  
/*Selecting click motion color*/
.heroes button.selected:hover {
  background-color: #1081b9;
  color: white;
}
  
/*Heroes name button*/
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
  
/*Heroes name position*/
.heroes .name {
  align-self: center;
}