<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--Link to material-icons-->

<div class="row d-flex justify-content-space-between">
    <div class="col">
        <div class="topnav-left mt-3">
            <a href="/homepage"><h3>Tour of Heroes</h3></a>
        </div>
    </div>
    <div class="col">
        <div class="topnav-right" id="myTopnav">
            <a routerLink= "/dashboard" class="btn btn-primary btn-sm"><i class="material-icons">toc</i>&nbsp; Dashboard</a>
            <a routerLink= "/heroes" class="btn btn-primary btn-sm"><i class="material-icons">people</i>&nbsp; Heroes</a>
            <a routerLink= "/cart" class="btn btn-primary btn-sm"><i class="material-icons">shopping_cart</i>&nbsp; Cart</a>
            <a href= "javascript:void(0);" class="icon mt-3" (click)="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>

<!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar" href="/homepage"><h3>Tour of Heroes</h3></a>
        <div class="d-flex align-items-center">
            <nav>
                <a routerLink= "/dashboard" class="btn btn-primary btn-sm px-3 me-2"><i class="material-icons">toc</i>&nbsp; Dashboard</a>
                <a routerLink= "/heroes" class="btn btn-primary btn-sm px-3 me-2"><i class="material-icons">people</i>&nbsp; Heroes</a>
                <a routerLink= "/cart" class="btn btn-primary btn-sm px-3 me-2"><i class="material-icons">shopping_cart</i>&nbsp; Cart</a>
            </nav>
        </div>
    </div>
</nav> -->